@using Search4Support.Models
@model Search4Support.ViewModels.CategoryDetailViewModel


<h1>@Model.Name</h1>

<table class="table">

    <tr>
        <th>Services</th>
        <td>

            @foreach (var srv in Model.Services)
            {
                <ul><a asp-controller="Services" asp-action="Detail" asp-route-id="@srv.Id">@srv.Name</a></ul>
            }

        </td>

        </td>

    </tr>
</table>