@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
</style>

<div>
    <h2>Featured Services</h2>
    <table class="table striped">
        <tr>
            <td>Service 1 - coming soon!</td>
        </tr>
        <tr>
            <td>Service 2 - coming soon!</td>
        </tr>
        <tr>
            <td>Service 3 - coming soon!</td>
        </tr>
        <tr>
            <td>Service 4 - coming soon!</td>
        </tr>
        <tr>
            <td>Service 5 - coming soon!</td>
        </tr>
    </table>

    <div class="row">
        <div class="column">
            <p>Map feature coming soon!</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.8854838112493!2d-90.26169458479856!3d38.65151337960946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4d4dfb1118d%3A0x46ba750d4f6e9fe1!2sLaunchCode%20Mentor%20Center!5e0!3m2!1sen!2sus!4v1641084009254!5m2!1sen!2sus" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="column">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="column">
            <p>Calendar feature coming soon!</p>
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23039BE5&ctz=America%2FDenver&src=bGNzYW1zcXVhZEBnbWFpbC5jb20&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043" style="border:solid 1px #777" width="500" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
@*    <p>Map feature coming soon!</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.8854838112493!2d-90.26169458479856!3d38.65151337960946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4d4dfb1118d%3A0x46ba750d4f6e9fe1!2sLaunchCode%20Mentor%20Center!5e0!3m2!1sen!2sus!4v1641080817419!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>

    <p>Calendar feature coming soon!</p>
    <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23039BE5&ctz=America%2FDenver&src=bGNzYW1zcXVhZEBnbWFpbC5jb20&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043" style="border:solid 1px #777" width="500" height="500" frameborder="0" scrolling="no"></iframe>
*@</div>
