@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
</style>

<div>
    <h3>Featured Services</h3>
    <table class="table striped">
        <tr>
            <td>Event 1</td>
        </tr>
        <tr>
            <td>Event 2</td>
        </tr>
        <tr>
            <td>Event 3</td>
        </tr>
        <tr>
            <td>Event 4</td>
        </tr>
        <tr>
            <td>Event 5</td>
        </tr>
    </table>
</div>
