@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul class="bullet-list">
    <li><b>What information do you collect?</b></li>
    <p>Name and emails.</p>

    <li><b>How do you use the information?</b></li>
    <p>We use this to notify you of available and featured services.</p>

    <li><b>What information do you share?</b></li>
    <p>We currently are not sharing information. In future releases, this may change.</p>
</ul>
