@model List<Search4Support.Models.ServiceCategory>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
</style>

<h2 style="display:inline">All Service Categories </h2>@if (SignInManager.IsSignedIn(User))
{
<a asp-controller="ServiceCategory" asp-action="Add">Add Category</a>
}

@if (Model.Count == 0)
{
    <p>No Service Categories yet!</p>
}
else
{
    <table class="table striped">
        <tr>
            @*<th>Id</th>*@
            <th>Category Name</th>
        </tr>
        @foreach (ServiceCategory category in Model)
        {
            <tr>
                @*<td>@category.Id</td>*@
                <td>@category.Name</td>
            </tr>
        }
    </table>
}