@model List<Search4Support.Models.ServiceCategory>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1 style="display:inline">All Service Categories </h1>@if (SignInManager.IsSignedIn(User))
{
<a asp-controller="ServiceCategory" asp-action="Add">Add Category</a>
}

@if (Model.Count == 0)
{
    <p>No Service Categories yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Category Name</th>
        </tr>
        @foreach (ServiceCategory category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </table>
}