@model Search4Support.ViewModels.AddServiceViewModel;
<h1>Add Service</h1>

<form asp-controller="Services" asp-action="Add" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" />
        <span class="field-validation-error" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input name="description" />
        <span class="field-validation-error" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Event Type</label>
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <input type="submit" value="Add Service" />
</form>