<h1>Delete Event</h1>

<form method="post">
    @foreach (var srv in ViewBag.events)
    {
        <div class="form-group">
            <label>
                <span>@srv.Name</span>
                <input type="checkbox" name="serviceIds" value="@srv.Id" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Services" class="btn btn-danger">

</form>